{
  "version": 1,
  "minor_version": 1,
  "key": "core.config",
  "data": {
    "latitude": 43.06145841200598,
    "longitude": -87.90386974811554,
    "elevation": 188,
    "unit_system": "imperial",
    "location_name": "Booth St Lower",
    "time_zone": "America/Chicago",
    "external_url": null,
    "internal_url": null,
    "currency": "USD"
  }
}